<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    
        <link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>
 	<div id="main-container">

	    {{>header2}} 
				<div id="MainBody" >
   <div id="Favbox">
  <center>
<h1>Favorites</h1>
</center>

             </div>
 
    
	</div><!-- mainBody -->
      
				

				

{{>footer}} 
 
	</div><!-- main container -->


</body>
</html>
